@{
    ViewData["Title"] = "Index";
}

<h1>Cars</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="carsTable" class="table">
    <thead>
        <tr>
            <th>Brand</th>
            <th>Model</th>
            <th>Speed</th>
            <th>Price</th>
            <th>Data</th>
            <th>Weight</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
    </tbody>
</table>

<script>
    $(document).ready(function () {
        showAllCars();
    });

    function showAllCars() {
        $.ajax({
            url: '/api/Cars',
            method: "GET",
            dataType: 'JSON',
            contentType: 'application/json',
            cache: false,
            processData: false,
            beforeSend: function (xheader) {
                var token = sessionStorage.getItem(tokenKey);
                console.log(token);
                xheader.setRequestHeader("Authorization", "Bearer " + token);
            },
            success: function (data) {
                console.log(data);

                var table = $('#carsTable');

                table.find("tbody tr").remove();

                $.each(data, function(index, car) {
                        var row = '<tr>' +
                            '<td>' + car.brand + '</td>' +
                            '<td>' + car.model + '</td>' +
                            '<td>' + car.speed + '</td>' +
                            '<td>' + car.price + '</td>' +
                            '<td>' + new Date(car.data).toLocaleDateString() + '</td>' +
                            '<td>' + car.weight + '</td>' +
                            '<td>' +
                                '<a href="/Cars/Edit/' + car.id + '">Edit</a> | ' +
                                '<a href="/Cars/Details/' + car.id + '">Details</a> | ' +
                                '<a href="/Cars/Delete/' + car.id + '">Delete</a>' +
                            '</td>' +
                        '</tr>';
                        table.append(row);
                });
            },
            error: function (data) {
                alert('Error: ' + data.statusText);
                console.log(data);
            }
        })
    }
</script>