@model IEnumerable<Cars_WebAPI.Models.Owner>

@{
    ViewData["Title"] = "Index";
}

<h1>Owners</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="ownersTable" class="table">
    <thead>
        <tr>
            <th>FullName</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
        </tr>
    </thead>

    <tbody>
    </tbody>
</table>

<script>
    $(document).ready(function () {
        showAllOwners();
    });

    function showAllOwners() {
        $.ajax({
            url: '/api/Owners',
            method: "GET",
            dataType: 'JSON',
            contentType: 'application/json',
            cache: false,
            processData: false,
            beforeSend: function (xheader) {
                var token = sessionStorage.getItem(tokenKey);
                console.log(token);
                xheader.setRequestHeader("Authorization", "Bearer " + token);
            },
            success: function (data) {
                console.log(data);

                var table = $('#ownersTable');

                table.find("tbody tr").remove();

                $.each(data, function(index, owner) {
                        var row = '<tr>' +
                            '<td>' + owner.fullName + '</td>' +
                            '<td>' + owner.email + '</td>' +
                            '<td>' + owner.phone + '</td>' +
                            '<td>' + owner.address + '</td>' +
                            '<td>' +
                                '<a href="/Owners/Edit/' + owner.id + '">Edit</a> | ' +
                                '<a href="/Owners/Details/' + owner.id + '">Details</a> | ' +
                                '<a href="/Owners/Delete/' + owner.id + '">Delete</a>' +
                            '</td>' +
                        '</tr>';
                        table.append(row);
                });
            },
            error: function (data) {
                alert('Error: ' + data.statusText);
                console.log(data);
            }
        })
    }
</script>